@use 'theme' as *;

header {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1024px;
        margin-top: 25px;
        margin-bottom: 134px;

        .settings {
            .img-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 14px;

                img {
                    width: 29px;
                    margin-bottom: 17px;
                }

                .up-arrow {
                    width: 12px;
                }
            }

        }

    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 24px;

        li {
            display: flex;
            gap: 7px;

            a {
                color: $second-text-color;
                text-decoration: none;

                &:hover{
                    color: $primary-bg-color;
                }
            }
        }

        .active {
            background: linear-gradient(#C7D61B, #32BE1C);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        li img {
            color: $second-text-color;
        }
    }
}