@use 'theme' as *;


header{
    .navbar{
       .settings{
            .img-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 14px;
                img {
                    width: 29px;
                    margin-bottom: 17px;
                }
    
                .up-arrow{
                    width: 12px;
                }
            }
    
        }
    }
}

main{
    max-width: 1000px;
    margin: 0 auto;
    .support{
        display: flex;
        flex-direction: column;
        margin-bottom: 22px;
        .support-wrapper{
            display: flex;
            gap: 26px;
                img{
                    width: 62px;
                    height: 72px;
                }

                .support-content{
                    h3{
                        color: $text-color;
                        margin: 0;
                        padding: 0;
                        margin-bottom: 4px;
                    }

                    p{
                        color: $second-text-color;
                    }
                }
        }
    }

    .links{
        ul{
            display: flex;
            margin: 0;
            padding: 0;
            margin-bottom: 35px;
            gap: 31px;
            list-style: none;
            li{
                color: $second-text-color;
                font-size: 20px;
            }
            li:first-of-type{
                color: $primary-color;
            }
        }
    }

    .slashCommands{

        width: 200px;

        fieldset{
            margin: 0;
            padding: 0;
            border: none;
            label{
                color: $second-text-color;
            }
        }

        fieldset:first-of-type{
            input{
                background-color: $background-color;
            }
            input::placeholder{
                color: $text-color;
            }
        }

        fieldset:last-of-type{
            display: flex;
            flex-direction: row;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
          }
          
          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }
          
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
            border-radius: 34px;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
          }
          
          input:checked + .slider {
            background-color: #2196F3;
          }
          
          input:checked + .slider:before {
            transform: translateX(26px);
          }
    }

}