<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>

    <header>
        <nav class="navbar">
            <ul>
                <li><img src="../assets/House.png" alt=" House Icon" srcset=""><a href="../index.html">Home</a></li>
                <li><img src="../assets/Commands.png" alt="Commands Icon" srcset=""><a
                        href="../view/command.html">Commands</a></li>
                <li><img src="../assets/Server.png" alt="Server Icon" srcset=""><a
                        href="../view/our-servers.html">Server</a></li>
            </ul>
            <img src="../assets/home.png" alt="Home Icon" srcset="">
        </nav>
    </header>
    <img class="line-left" src="../assets/line-left.png" alt="" srcset="">
    <img class="line-right" src="../assets/line-right.png" alt="" srcset="">


    <main>
        <h1 class="hac"><span>О</span> нас</h1>
        <section class="technologies">
            <h1>Technologies</h1>
            <div class="techno-body-wrapper">
                <div class="techno-body">
                    <ul>
                        <li><img src="../assets/polygon.png" alt="" srcset="">Node.js</li>
                        <li><img src="../assets/polygon.png" alt="" srcset="">Ubuntu Server</li>
                    </ul>
                </div>
                <div class="techno-body">
                    <ul>
                        <li><img src="../assets/polygon.png" alt="" srcset="">Discord.js</li>
                        <li><img src="../assets/polygon.png" alt="" srcset="">Express</li>
                        <li><img src="../assets/polygon.png" alt="" srcset="">React</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="creators">
            <h1>Creators</h1>
            <div class="creators-wrapper">
                <div class="creators-cards">
                    <img src="../assets/creator-1.png" alt="" srcset="">
                    <div class="creators-content">
                        <h3>Elias🇺🇦#6103</h3>
                        <p>Creator of this site</p>
                        <ul>
                            <li><a href="#"><img src="../assets/github.png" alt="Github Icon" srcset=""></a></li>
                            <li><a href="#"><img src="../assets/telegram.png" alt="Telegram Icon" srcset=""></a></li>
                            <li><a href="#"><img src="../assets/discord.png" alt="Discord Icon" srcset=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="creators-cards">
                    <img src="../assets/creator-2.png" alt="" srcset="">
                    <div class="creators-content">
                        <h3>S.mode#9723</h3>
                        <p>Creator of the bot</p>
                        <ul>
                            <li><a href="#"><img src="../assets/github.png" alt="Github Icon" srcset=""></a></li>
                            <li><a href="#"><img src="../assets/discord.png" alt="Discord Icon" srcset=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="creators-cards">
                    <img src="../assets/creator-3.png" alt="" srcset="">
                    <div class="creators-content">
                        <h3>Kotik#9821</h3>
                        <p>Bot creator</p>
                        <ul>
                            <li><a href="#"><img src="../assets/discord.png" alt="Discord Icon" srcset=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="contact-wrapper">
            <div class="card-contact">
                <h3><a href="#">Contacts</a></h3>
                <p><a class="active" href="../view/about.html">About us</a></p>
                <p>Discord server</p>
                <p>Email</p>
            </div>
            <div class="card-contact">
                <h3><a href="../view/agreement.html">Rules</a></h3>
                <p><a href="../view/agreement.html">Privacy Policy</a></p>
                <p><a href="../view/agreement.html">Terms of Service</a></p>
                <p>Сookie</p>
            </div>
            <div class="card-contact">
                <div class="website-log">
                    <img src="../assets/Logo.png" alt="Logo Icon" srcset="">
                    <h3>Protect<span>X</span></h3>
                </div>
            </div>
        </div>
        <div class="figma">
            <p>Many thanks to Elias Dev for offering this UI/UX design to the Figma Community.</p>
            <a
                href="https://www.figma.com/design/pGPWDvGmyjIuzJ9l3ZQfpY/Discord-bot-panel-(Community)?node-id=0-1&t=U1Yms2P5ZDIna3rx-0"><img
                    src="../assets/Figma.png" alt="Figma Icon" /></a>
        </div>
        <p class="copyright">© 2024 J-Lucien. All rights reserved</p>
    </footer>
</body>

</html>