<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/command.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><img src="../assets/House.png" alt=" House Icon" srcset=""><a href="../index.html">Home</a></li>
                <li><img src="../assets/Commands.png" alt="Commands Icon" srcset=""><a class="active"
                        href="../view/command.html">Commands</a></li>
                <li><img src="../assets/Server.png" alt="Server Icon" srcset=""><a
                        href="../view/our-servers.html">Server</a></li>
            </ul>
            <img src="../assets/home.png" alt="Home Icon" srcset="">
        </nav>
    </header>


    <main>
        <div class="all-commands">
            <h1>All <span>Commands</span></h1>
            <!-- <div> -->
            <p>[ ] - Optional parameters</p>
            <p>
                <> - Required parameters
            </p>
            <p>parameter | parameter - Optional parameters</p>
            <!-- </div> -->
        </div>

        <div class="search-container">
            <input class="search polygon" type="search" placeholder="Search" name="search" id="search">
            <div class="ligne ligne-left"></div>
            <div class="ligne ligne-left-m-45"></div>
            <div class="ligne ligne-right-45"></div>
            <div class="ligne ligne-right-m-45"></div>
        </div>

        <div class="links">
            <ul>
                <li class="polygon">All</li>
                <li>Anti-Crash</li>
                <li>Moderation</li>
                <li>Utilities</li>
                <li>Information</li>
            </ul>
        </div>

        <div class="info-wrapper">
            <div class="info-content">
                <p><span>Help</span> - Command Assistance</p>
                <p><span>About</span> - Bot Information</p>
                <p><span>Ping</span> - Check Bot Latency</p>
                <div class="last-info">
                    <p><span>Enable</span> - Enable Anti-Crash Protection</p>
                    <div class="creator">
                        <p>5c</p>
                        <p>Creator</p>
                    </div>
                </div>
                <div class="ligne"></div>
                <div class="remove-queue"></div>
            </div>
            <div class="info-usage">
                <div>
                    <h3>Usage</h3>
                    <p>help [command]</p>
                </div>
                <div class="last-ligne">
                    <h3>Examples</h3>
                    <p>help</p>
                    <p>help ban</p>
                </div>
                <div class="ligne-2"></div>
                <div class="remove-queue-2"></div>
            </div>
        </div>
    </main>


    <footer>
        <div class="contact-wrapper">
            <div class="card-contact">
                <h3><a href="#">Contacts</a></h3>
                <p><a href="../view/about.html">About us</a></p>
                <p>Discord server</p>
                <p>Email</p>
            </div>
            <div class="card-contact">
                <h3><a href="../view/agreement.html">Rules</a></h3>
                <p><a href="../view/agreement.html">Privacy Policy</a></p>
                <p><a href="../view/agreement.html">Terms of Service</a></p>
                <p>Сookie</p>
            </div>
            <div class="card-contact">
                <div class="website-log">
                    <img src="../assets/Logo.png" alt="Logo Icon" srcset="">
                    <h3>Protect<span>X</span></h3>
                </div>
            </div>
        </div>
        <div class="figma">
            <p>Many thanks to Elias Dev for offering this UI/UX design to the Figma Community.</p>
            <a
                href="https://www.figma.com/design/pGPWDvGmyjIuzJ9l3ZQfpY/Discord-bot-panel-(Community)?node-id=0-1&t=U1Yms2P5ZDIna3rx-0"><img
                    src="../assets/Figma.png" alt="Figma Icon" /></a>
        </div>
        <p class="copyright">© 2024 J-Lucien. All rights reserved</p>
    </footer>
</body>

</html>